* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #020a18;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  margin: 0 auto;
}
/* header */
header {
  width: 100%;
  padding: 1rem 1rem;
  position: fixed;
  top: 0;
  z-index: 9999;
  background-color: #020a18;
}
header#navbar .container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
}
header#navbar .container .logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
header#navbar .container .logo a {
  font-weight: 600;
  font-size: 20px;
  line-height: 31px;
  color: #3a68b8;
}
header#navbar .container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  gap: 2rem;
  list-style-type: none;
}
header#navbar .btns {
  display: flex;
  align-items: center;
}
header#navbar .btns a {
  background: #3a68b8;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 30px;
  gap: 10px;
}
header#navbar .btns i {
  display: none;
}
/* header end */
/* hero */

section#hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

section#hero .half {
  display: flex;
  flex-direction: column;
  width: 40%;
}
section#hero .first {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
section#hero .first h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  text-transform: uppercase;
  color: #3a68b8;
}
section#hero .first h1 {
  font-weight: 800;
  font-size: 60px;
  line-height: 130%;
  color: #ffffff;
}
section#hero .first p {
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: #ffffff;
  opacity: 0.7;
  margin-bottom: 1rem;
}
section#hero .first .btns a {
  padding: 15px 30px;
  background: #3a68b8;
  border-radius: 5px;
}
/* hero end */
/* partners */
section#partners {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}
section#partners img {
  width: 18%;
}
/* partners end */
/* about */
section#about {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-top: 9rem;
  gap: 2rem;
}

section#about .half {
  display: flex;
  flex-direction: column;
  width: 40%;
}
section#about .first {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

section#about .first h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #ffffff;
  letter-spacing: 0.15rem;
}
section#about .first p {
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
  opacity: 0.7;
  margin-bottom: 1rem;
}
section#about .first .btns a {
  padding: 15px 30px;
  background: #3a68b8;
  border-radius: 5px;
}
/* about end */
/* cards */
section#cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 9rem;
  margin-top: 9rem;
}
section#cards .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 264px;
  line-height: 1.7rem;
  text-align: center;
  gap: 1rem;
  background-color: #1b1f25;
  border-radius: 10px;
  padding: 1rem 1.2rem;
}
section#cards .card:first-child img {
  width: 34%;
  display: inline-block;
}
section#cards .card img {
  width: 30%;
}
/* cards end */
/* servises */
section#servises {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 9rem;
}
section#servises .left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  max-width: 35%;
}
section#servises .left h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #fff;
}
section#servises .left p {
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
  max-width: 80%;
  opacity: 0.7;
}
/* servises end */
/* footer */
footer#end {
  padding: 2rem 2rem;
  background-color: #ffffff11;
}
footer#end .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer#end .container .bloks,
.blok1,
.blok5 {
  width: 18%;
  padding: 1rem 0.7rem;
}
footer#end .container .blok1 {
  display: flex;
  flex-direction: column;
}
footer#end .container .blok1 h3 {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #3a68b8;
}
footer#end .container p {
  font-weight: 450;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  opacity: 0.6;
  margin-top: 0.4rem;
}
footer#end .container ul {
  list-style-type: none;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
footer#end .container i {
  font-size: 22px;
  opacity: 0.6;
}
footer#end .container li {
  opacity: 0.6;
}
footer#end .container .blok5 select {
  border: none;
  background-color: transparent;
  color: #fff;
}
/* footer end */
@media (max-width: 1200px) {
  body {
    width: 1199px;
    padding: 0;
    margin: 0;
  }
  header#navbar .container .logo a {
    font-size: 18px;
  }
  section#hero .first h3 {
    font-size: 16px;
  }
  section#hero .first h1 {
    font-size: 40px;
  }
  section#hero .first p {
    font-size: 16px;
  }
  section#hero .half img {
    width: 85%;
  }
  section#about .half {
    width: 37%;
  }
  section#partners {
    width: 90%;
  }
  section#hero .first .btns a {
    padding: 10px 20px;
  }
  section#about .first h2 {
    font-size: 30px;
  }
  section#about .first p {
    font-size: 15px;
  }
  section#cards {
    width: 100%;
    column-gap: 3rem;
  }
  header#navbar .btns a {
    padding: 10px 20px;
  }
  header#navbar li {
    font-size: 14px;
  }
  header {
    width: 1099px;
  }
  section#servises {
    margin-bottom: 5rem;
    width: 1199px;
    z-index: 222;
  }
  section#servises .left {
    width: 350px;
  }
  section#servises .left h2 {
    font-size: 30px;
  }
  section#servises .left p {
    font-size: 12px;
  }
  section#servises .right img {
    width: 350px;
  }
  footer#end {
    width: 1199px;
    margin-top: 5rem;
  }
}
@media (max-width: 350px) {
  body {
    padding: 0;
    margin: 0;
  }
  header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9998;
  }
  header#navbar .container .logo a {
    font-size: 14px;
    position: sticky;
    top: 0;
  }
  section#hero {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  section#hero .first h3 {
    font-size: 12px;
  }
  section#hero .first h1 {
    font-size: 30px;
  }
  section#hero .first p {
    font-size: 12px;
  }
  section#hero .half img {
    width: 45%;
  }
  section#about .half {
    width: 25%;
  }
  section#partners {
    width: 90%;
  }
  section#hero .first .btns a {
    padding: 8px 15px;
  }
  section#about .first h2 {
    font-size: 20px;
  }
  section#about .first p {
    font-size: 10px;
  }
  section#cards {
    column-gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  section#cards .card {
    width: 100%;
  }
  header#navbar .btns a {
    padding: 8px 15px;
  }
  header#navbar li {
    font-size: 12px;
  }

  section#servises {
    margin-bottom: 3rem;
    /* z-index: 222; */
  }
  section#servises .left {
    width: 150px;
  }
  section#servises .left h2 {
    font-size: 20px;
  }
  section#servises .left p {
    font-size: 8px;
  }
  section#servises .right img {
    width: 150px;
  }
  footer#end {
    margin-top: 3rem;
  }
}
